
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div>
    <form>
        <input type="text" name="UserName" />
        <input type="text" name="Password" />
        <a href="#" id="login-btn">login</a>
    </form>
</div>

@section Scripts
{

    <script>
        $("#login-btn").click(function () {
            var userName = $("input[name=UserName]").val();
            var password = $("input[name=Password]").val();
            $.post("/Account/Register", {UserName: userName, Password: password}, function (data) {
                location.href = "/";
            });
            return false;
        });

    </script>

}
